.container {
  width: 100%;
  height: 50px;
  color: var(--nav-font-color);
  background-color: var(--nav-bg-color);
}

.navbarContainer {
  display: flex;
  padding: 5px 20px;
  justify-content: space-between;
  align-items: center;
}

.navbarContainer > img {
  vertical-align: middle;
}

.navbarRightItems {
  display: flex;
  align-items: center;
}

.navbarContainer ul {
  margin-right: 30px;
  display: flex;
  list-style: none;
}

.navbarContainer ul li {
  padding: 0 10px;
}

.navbarContainer ul li {
  padding: 0 10px;
}

.navbarContainer ul li a {
  text-decoration: none;
  color: var(--nav-font-color);
  opacity: 0.7;
  transition: opacity 0.2s ease;
}

.navbarContainer ul li a:hover {
  opacity: 1;
}

.navbarContainer ul li img {
  position: relative;
  top: 2px;
  margin-right: 8px;
}

.NavbarButtons {
  display: flex;
  align-items: center;
}

.NavbarButtons > a:first-child {
  background: var(--nav-button-bg-color);
  margin-right: 30px;
  padding: 8px 15px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 2px;
  transition: opacity 0.4s ease;
}

.NavbarButtons > a:hover {
  opacity: 0.8;
}

.NavbarButtons > a:first-child img {
  margin-right: 10px;
}

.NavbarButtons > a:nth-child(2) {
  background-color: #000000;
  padding: 5px 15px;
  margin-right: 30px;
  font-size: 14px;
  border: 1px solid black;
  box-shadow: 1px 0 0 hsl(0deg 0% 100% / 20%), -1px 0 0 hsl(0deg 0% 100% / 20%),
    0 1px 0 hsl(0deg 0% 100% / 20%), 0 -1px 0 hsl(0deg 0% 100% / 20%);
}

.NavbarButtons > a:nth-child(2) img {
  margin-right: 10px;
}

.NavbarButtons > a:nth-child(3) {
  padding: 5px 15px;
  background-color: #000000;
  border: 1px solid black;
  box-shadow: 1px 0 0 hsl(0deg 0% 100% / 20%), -1px 0 0 hsl(0deg 0% 100% / 20%),
    0 1px 0 hsl(0deg 0% 100% / 20%), 0 -1px 0 hsl(0deg 0% 100% / 20%);
}

.NavbarButtons img {
  vertical-align: middle;
}



@media (max-width: 800px) {
  .navbarContainer ul {
    display: none;
  }
  .NavbarButtons > a:first-child img {
    display: none;
  }
}

@media (max-width: 450px) {
  .navbarContainer {
    padding: 5px;
    width: 100%;
  }
}

@media (max-width: 410px) {
  .NavbarButtons > a:first-child span {
    display: none;
  }
  .NavbarButtons > a:first-child img {
    margin: 0;
    display: block;
  }
}
