:root {
  --nav-bg-color: #131313;
  --nav-font-color: #eee;
  --nav-button-bg-color: linear-gradient(160deg, #33a9dc, #4c83ff);
  --footer-bg-color: hsla(0, 0%, 100%, 0.05);
  --banner-bg-gradient-color: linear-gradient(
    292.46deg,
    #27ae60 17.79%,
    #2f80ed 35.92%,
    #9b51e0 54.06%,
    #eb5757 71.08%,
    #f2994a 87.36%
  );
}
* {
  margin: 0;
  padding: 0;
  font-family: poppins;
  box-sizing: border-box;
}
body {
  background-color: var(--nav-bg-color);
}

@font-face {
  font-family: poppins;
  src: url(./fonts/poppins-v20-latin-regular.woff) format("woff");
  src: url(./fonts/poppins-v20-latin-regular.woff2) format("woff2");
}
